section {
  margin: 1rem;
  background: #00bcd4;
  border: 2px solid #01a4bb;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

article {
  background: white;
  padding: 1rem;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);
  /* min-width: 200px; */
  /*max-width: 310px;*/
  min-height: 204px;
}
@media (max-width: 550px) {
  article {
    max-width: none;
  }
}

.img {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.img img {
  border-radius: 50%;
}

.letter {
  width: 70px;
  height: 70px;
  background: lightgray;
  border-radius: 50%;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.office {
  text-align: center;
}

.office .naslov {
  display: block;
  color: black;
  font-weight: bold;
  margin-bottom: 1rem;
}
